@import "tailwindcss";

:root {
  --background: #09090b; /* Zinc 950 */
  --foreground: #fafafa; /* Zinc 50 */
  --card-bg: #18181b;    /* Zinc 900 */
  --border-color: #27272a; /* Zinc 800 */
  --accent: #3b82f6;     /* Blue 500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}